.iPos
{
    margin: 10px 12px;
    pointer-events: none;
    width: 30px;
    height: 20px;
    text-align: center;
    border: 3px solid black;
}

.panel
{ 
width: 30px;
height: 20px;
text-align: center;
margin: 10px 12px;
}

.but1 
{
    padding: 4px;
    width: 30px;
    height: 30px;
    background-color: rgb(139, 127, 127);
    transition: background .1s linear, border-radius .1s linear;
}

.but1:hover
{
    background-color: gray;
    border-radius: 25%;
}

.calc
{
    border: 4px solid black;
    border-radius: 25px;
    width: 100px;
    height: 200px;
}

.hud
{
    padding-left: 18px;
    padding-top: 43px;
    display: block;
}
.switch-btn
{
    display: inline-block;
    width: 25px; /* ширина переключателя */
    height: 15px; /* высота переключателя */
    border-radius: 12px; /* радиус скругления */
    background: #bfbfbf; /* цвет фона */
    z-index: 0;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
    position: relative;
    transition-duration: 300ms; /* анимация */
    padding-left: 15px;
}
#three
{
    margin-left: 16px;
    margin-top: 3px;

}

.checkbox
{
    position: absolute;
    width: 30px;
    height: 30px;
    margin: 0px;
    bottom: 50px;
    top: 25px;
    left: 46px;
    text-align: center;
}